:root {

    /********** COLORS **********/
    --color-dark: #232323;
    --color-dark-primary: #26262bf3;
    --color-dark-secundary: #29292e;
    --color-green-primary: #3ba787;
    --color-green-link: #41b390;
    --color-green-secundary: #3ba78731;
    --color-white: #ffffff;
    --color-white-primary: #e5e5e5;
    --color-light-gray: #c9c9c9;
}

/**********************************************/

/* ALL */
* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    height: 3.3rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 500;
}

/* body */
body {
    min-width: 375px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    background-color: var(--color-dark-primary);
    color: var(--color-white-primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* footer */
footer {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-primary);
}


/**********************************************/

/* Header title container */
.header-title__container {
    margin: .5rem 0 0 1rem;
}

/* Header title */
.header-title {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Header title "Muñiz" */
.header-title span{
    padding: 0 .1rem;
    color: var(--color-white);
    background-color: var(--color-green-primary);
    border-radius: .2rem;
    font-weight: 200;
}

/* Header container link */
.nav {
    padding: 1rem;
    position: absolute;
    top: .3rem;
    right: 0;
    display: none;
    gap: 1.1rem;
    z-index: 600;
}

/* Header links */
.nav-link {
    color: var(--color-light-gray);
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Header links hover */
.nav-link:hover {
    color: var(--color-green-link);
}

/* icon links < */
.nav-link .fa-angle-left {
    padding-right: .2rem;
    display: none;
}

/* icon links > */
.nav-link .fa-angle-right {
    padding-left: .2rem;
    display: none;
}

/* Hero ícon menu */
.fa-bars {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: flex;
    font-size: 1.5rem;
    color: var(--color-green-primary);
    z-index: 550;
    cursor: pointer;
}

/**********************************************/

/* Hero */
.hero {
    padding: 1rem 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-primary);
}

/* Hero background image */
.hero::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    background-image: url(/assets/images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 8%;
}

/* Hero container profile */
.hero-img__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero images container */
.img {
    margin-top: 3rem;
}

/* Hero circle */
.img-circle {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--color-green-secundary);
    z-index: 10;
}

/* Hero image */
.hero-img {
    width: 11rem;
    position: absolute;
    border-radius: 50%;
    border: .7rem solid var(--color-green-primary);
    z-index: 20;
}

/* Hero icons container */
.hero-icons {
    margin: .7rem auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    z-index: 30;
}

/* Hero icons style */
.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: .1rem solid var(--color-green-primary);
    border-radius: 50%;
    color: var(--color-white-primary);
    text-decoration: none;
    z-index: 30;
}

/* Hero icons style hover */
.hero-link:hover {
    width: 2.7rem;
    height: 2.7rem;
    background-color: var(--color-green-primary);
}

/* Hero icons */
.hero-icons .fa-brands {
    font-size: 1.4rem;
}

/* Hero title */
.hero-title {
    margin-top: 1rem;
    color: var(--color-white-primary);
    font-size: 2.7rem;
    font-weight: 800;
}

/* Hero title "Muñiz" */
.hero-title span {
    font-weight: 100;
}

/* Hero subtitle developer */
.hero-subtitle__container {
    margin-top: 1rem;
    padding: .5rem;
    position: relative;
    display: inline-block;
    background-color: var(--color-green-primary);
    border-radius: 1.5rem;
}

/* Hero subtitle */
.hero-subtitle {
    color: var(--color-white-primary);
    font-size: 1rem;
    font-weight: 400;
}

/* Hero subtitle info */
.hero-subtitle__info {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--color-white-primary);
}

/* Hero button */
.hero-btn {
    display: flex;
    justify-content: center;
    z-index: 100;
}

/* Hero button container */
.hero-btn-div {
    margin: 1.5rem auto 1.5rem;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .15rem solid var(--color-green-primary);
    border-radius: 2rem;
    gap: .8rem;
}

/* Hero button hover */
.hero-btn-div:hover {
    background-color: var(--color-green-primary);
}

/* Hero button link */
.hero-btn-link {
    color: var(--color-light-gray);
    text-decoration: none;
}

/* Hero button title */
.hero-btn-link h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

/* Hero button icon */
.fa-envelope {
    margin-right: -.25rem;
    font-size: 1.1rem;
}

/**********************************************/

/* Container section */
.container {
    padding: 0 1rem 5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-secundary);
}

/* Container section titles */
.container h2 {
    color: var(--color-white-primary);
    font-size: 1.5rem;
}

/* Container icon titles */
.container .fa-angle-right {
    padding: 0 .5rem;
    color: var(--color-green-link);
    font-size: 1.5rem;
}

/* About me */
.about-me {
    padding-top: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* About me description */
.about-me p {
    margin-top: 1.5rem;
    color: var(--color-light-gray);
    font-size: 1rem;
    font-weight: 400;
}

/* About me span */
.about-me span {
    color: var(--color-green-primary);
    font-size: 1.2rem;
    font-weight: 600;
}

/**********************************************/

/* Skills */
.skills {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

/* Skills title */
.skills h2 {
    text-align: center;
}

/* Skills container scroll-x */
.skills-scroll {
    overflow-x: scroll;
    min-width: 22rem;
    width: 95vw;
}

/* Skills container */
.skills-card {
    margin-top: 1.5rem;
    padding: 1rem 0;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1.1rem;
}

/* Skills card */
.card {
    min-width: 15rem;
    min-height: 12rem;
    padding: 1rem 1rem; 
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: var(--color-dark-primary);
    border: .1rem solid var(--color-green-primary);
    box-shadow: 2px 5px 10px var(--color-dark);
}

/* Skills card container icons */
.skill-icon {
    display: flex;
}

/* Skills card icons */
.icon-skill {
    display: inline-block;
    width: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
}

/* Skills card title */
.card h4 {
    margin-bottom: .7rem;
    margin-left: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Skills card description */
.card p {
    color: var(--color-light-gray);
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 300;
}

/* Skills links */
.skill-projects {
    margin-top: 2.5rem;
    display: inline-block;
    color: var(--color-green-primary);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

/* Skills links hover */
.skill-projects:hover {
    color: var(--color-green-link);
    text-decoration: underline;
}

/**********************************************/

/* Experience */
.experience {
    padding-top: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Experience title */
.experience h2 {
    margin-bottom: 2rem;
    text-align: center;
}

/* Experience container */
.experience-container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Experience card */
.experience-card {
    margin: 0 auto 1.2rem;
    padding: 1rem;
    width: 75vw;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-dark-primary);
    border: .1rem solid var(--color-green-primary);
    border-radius: 1rem;
    box-shadow: 2px 5px 10px var(--color-dark);
}

.academlo-logo {
    margin-left: -2rem;
    width: 8rem;
}

.fa-free-code-camp {
    margin-right: 2rem;
    font-size: 3.5rem;
}

/* Experience card text */
.card-exp {
    margin-left: -1rem;
}

/* Experience card title */
.experience-card h4 {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}

/* Experience card subtitle */
.experience-card h5 {
    margin-top: .2rem;
    color: var(--color-white-primary);
    font-size: .8rem;
    font-weight: 500;
}

/* Experience card description */
.experience-card p {
    margin-top: .1rem;
    color: var(--color-white-primary);
    font-size: .7rem;
    font-weight: 300;
}

/* Experience card year */
.experience-card .card-year {
    margin-top: 3rem;
    color: var(--color-white-primary);
    font-size: 1rem;
    font-weight: 500;
}

/**********************************************/

/* Portfolio */
.projects {
    padding-top: 5rem;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Portfolio title */
.projects h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Portfolio images container */
.img-container {
    padding: 3rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid var(--color-green-primary);
    border-radius: 1rem;
}

/* Portfolio image 1 */
.img1 {
    width: 100%;
}

/* Portfolio image 2 */
.img2 {
    margin-top: 1.5rem;
    width: 100%;
}

/* Portfolio image 3 */
.img3 {
    margin-top: 1.5rem;
    width: 100%;
}

/* Portfolio image 4 */
.img4 {
    margin-top: 1.5rem;
    width: 100%;
}

/**********************************************/

/* Contact */
.contact {
    padding-top: 5rem;
    margin: 0 auto 2rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact title */
.contact h2 {
    text-align: center;
}

/* Contact container */
.contact-container {
    margin-top: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Contact card */
.contact-card { 
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contact card links */
.contact-link {
    text-decoration: none;
}

/* Contact phone icon */
.icon-cel {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: .2rem solid var(--color-green-primary);
}

/* Contact phone link hover */
.icon-cel:hover {
    background-color: var(--color-green-primary);
}

/* Contact icon phone */
.fa-phone {
    color: var(--color-light-gray);
    font-size: 2rem;
}

/* Contact email icon */
.icon-email {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: .2rem solid var(--color-green-primary);
}

/* Contact email link hover */
.icon-email:hover {
    background-color: var(--color-green-primary);
}

/* Contact icon email */
.icon-email .fa-envelope {
    color: var(--color-light-gray);
    font-size: 2rem;
}

/* Contact card title */
.contact-card h4 {
    margin-top: .8rem;
    color: var(--color-white-primary);
    font-size: 1rem;
    font-weight: 400;
}

/* Contact card info */
.contact-card p {
    margin-top: .3rem;
    color: var(--color-light-gray);
    font-size: .9rem;
    font-weight: 200;
}

/**********************************************/

/* Footer style */
.footer {
    color: var(--color-light-gray);
    font-size: .9rem;
    font-weight: 200;
    text-align: center;  
}


/**********************************************/

/* MEDIA-QUERIES */

/* 533px */
@media screen and (min-width: 533px) {

    .skills-card {
        gap: 1rem;
    }

    .card {
        width: 10rem;
        max-height: 15rem;
    }

    .icon-email {
       width: 5rem;
       height: 5rem;
    }

    .icon-cel {
       width: 5rem;
       height: 5rem;
    }

    .img1 {
        width: 90%;
    }

    .img2 {
        width: 90%;
    }

    .img3 {
        width: 90%;
    }

    .img4 {
        width: 90%;
    }
}

/* 600px */
@media screen and (min-width: 600px) {

    .contact {
        margin: 0 auto;
        width: 90vw;
    }

    .contact-container {
        margin: 0 auto;
        width: 90vw;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* 768px */
@media screen and (min-width: 768px) {

    .header-title__container {
        padding: 0 1.5rem;
    }

    .header-title {
        font-size: 1.3rem;
    }

    .fa-bars {
        font-size: 1.8rem;
        right: 2rem;
    }

    .hero-icons {
        justify-content: space-evenly;
    }

    .hero-link {
        width: 2.7rem;
        height: 2.7rem;
    }

    .fa-brands {
        font-size: 1.4rem;
    }

    .hero-btn-div {
        width: 11rem;
        height: 1.3rem;
    }

    .card {
        max-height: max-content;
        max-width: max-content;
    }

    .experience-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .experience-card {
        height: 18rem;
        width: 12rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .academlo-logo {
        margin: 0;
        width: 10rem;
    }

    .experience-img .fa-brands {
        margin: 3rem auto;
        font-size: 5rem;
    }

    .card-exp {
        margin: auto;
    }

    .experience-card h4 {
        font-size: 1rem;
    }

    .experience-card h5 {
        font-size: .9rem;
    }

    .experience-card p {
        font-size: .9rem;
    }

    .experience-card .card-year {
        margin: 3rem;
        font-size: 1.1rem;
    }

    .img-container {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }

    .contact-card h4 {
        font-size: 1rem;
    }

    .contact-card p {
        font-size: .9rem;
    }
}

/* 850px */
@media screen and (min-width: 850px) {

    .nav {
        display: flex;
        right: 1rem;
    }

    .fa-bars {
        display: none;
        opacity: 0;
    }

    .img {
        margin-top: 3rem;
    }
}

/* 905px */
@media screen and (min-width: 905px) {

    .skills-card {
        justify-content: space-evenly;
    }
}

/* 1024px */
@media screen and (min-width: 1024px) {

    .nav {
        gap: 2rem;
    }

    .hero {
        text-align: center;
    }

    .hero-icons .fa-brands {
        font-size: 1.5rem;
    }

    .hero-subtitle__container {
        margin: 1rem auto;
    }

    .hero-subtitle__info {
        margin-top: 0;
        font-size: 1.3rem;
        font-weight: 300;
    }

    .hero-btn-link h4 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .about-me {
        width: 80vw;
    }

    .skills-card {
        margin: 1rem auto 0;
        width: 90vw;
        justify-content: space-evenly;
        gap: 2rem;
    }

    .card {
        width: 20rem;
        height: 12rem;
    }
    
    .skills-scroll {
        margin: 0 auto;
        overflow-x: hidden;
    }

    .experience {
        margin: 0 auto;
        width: 70vw;
    }
    
    .experience-container {
        width: 70vw;
        justify-content: space-evenly;
        gap: 3rem;
    }

    .projects {
        width: 80vw;
    }

    .img-container {
        margin: 0 auto;
        padding: 3rem;
        width: fit-content;
        gap: 8vw;
    }

    .contact-container {
        width: 75vw;
    }
}

/**********************************************/